.App {
  text-align: center;
}




.logo{
  height: auto;
  width: 64px;
  margin-top: 11px;
  margin-left: -3px;
}


/*@media (prefers-reduced-motion: no-preference) {
  .logo:hover {
    animation: App-logo-spin infinite 5s linear;
  }
}*/

.App-link {
  color: #61dafb;
}

.navigation div {
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 2px;
  height: 75px;
  width: 77px;
  background-color: rgb(255, 255, 255);

}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(20deg);
  }
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(20deg);
  }

}*/
