@import url("https://use.typekit.net/aow6xks.css");


* {
  box-sizing: border-box;
  cursor: hidden;
}

body {
  margin: 0px;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

:root{
  --main-grey-color: rgba(10, 10, 11);
}

.load{
  position: fixed;
  -webkit-position: sticky;
  opacity: 1;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  background-color: blue;
  overflow: hidden;
}

.load img{
  margin-right: 35%;
  margin-left: 35%;
  margin-top: 250px;
  width: auto;
  position: absolute;
  height: auto;
}

.scroll-bar{

  position: absolute;
  right: -3.25px;
  top: 0px;
  background-color: blue;
  width: 5px;
  height: 8px;
  z-index: 60;
  position: fixed;
  -webkit-position: sticky;
}

#navbar a {
  text-decoration: none;
  color: inherit;

}

#navbar a:visited { text-decoration: none;}
#navbar a:hover { text-decoration: none;}
#navbar a:focus { text-decoration: none;}
#navbar a:hover, a:active { text-decoration: none;}



#website {
  width: auto;
  height: auto;
}

.cursor{
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 997;
  box-shadow: 2px;
  z-index: 997;

  /*border: .9px dashed;*/
  background-color: blue;
  border-radius: 50%;
  /*animation: cursorAnim 20s infinite;*/

}

@keyframes cursorAnim{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}



#navbar {
  position: fixed;
  -webkit-position: sticky;
  float:left;
  background-color: none;
  height: 50px;
  width: 100%;
  font-size: 12px;
  line-height: 1.25;
  color: white;
  font-family: 'acumin-pro-wide', sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2.5px;
  z-index: 100;
  align-items: center;
  display: flex;
  top:0;


}

#navbar .mainNav {

  width:200px;
  height:100%;
  position: absolute;
  margin-left: 15px;
  margin-top: 10px;
  display: table-cell;
  align-items: center;


}
#navbar .navNav{
  width:200px;
  height:100%;
  right: 0px;
  position: absolute;
  margin-top: 20px;
  margin-right: 10px;
  display: table-cell;
  align-items: center;
}

.navNav a {
  padding-left: 1px;
}
.nav-bounds{
  display: table;
  float: left;
  height: 10px;
  width: 50px;
  padding-left: 1px;
}
.nav-option{
  padding-left: 2px;
}


#page{
  z-index: 0;
  height: 300vh;
  width: 100vw;
  position: absolute;
  display: grid;
}

#home{
  grid-row-start: 1;
  height: 100vh;
  width: 100%;
  position: relative;
  background: rgb(10, 10, 11);
  z-index: 1;

}

#homeimage{
  display: block;
  float :right;
  bottom: 10%;
  right: 10%;
  height: 58%;
  width: 48%;
  z-index: 20;
  position: absolute;
  z-index: 2;
  background-size: auto 38vw;
  background-image: url('./images/me.jpg');
  background-repeat: no-repeat;

}

#home .scroll{
  width: 30vw;
  position: absolute;
  bottom:80%;
  left:-10vw;
  transform: rotate(-90deg);
}

#home .scroll span{
  width: 80%;
  background: blue;
  height: 1px;
  display: inline-block;
  margin-bottom: 2pt;
}

#home .scroll p{
  margin-top: 9pt;
  margin-left: 12pt;
  font-size: 10pt;
  color: blue;
  font-family: 'acumin-pro-wide', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2.5px;
  display: inline-block;
}

#home .categories{
  position: absolute;
  left:10%;
  top:8vh;
  z-index: 40;
  font-size: 20pt;
  color: var(--main-grey-color);
  font-family: 'acumin-pro-wide', sans-serif;
  font-weight: 400;
  line-height: .1;
  font-style: normal;
  letter-spacing: 2.5px;
}


.designer-statment{
  height: 25%;
  width: 200%;



}

.designer-statment span{
  width: 10%;
  background: white;
  display: block;
  height: 1.5px;
  margin-top: 6px;
  margin-bottom: 6px;
}

/*.designer-statment p::after{
  text-transform: lowercase;
  content: "industrial \A graphic \A ui/ux"
}*/


.designer-statment p{
  position: absolute;
  top:auto;
  width: 100%;
  left:0px;
  text-transform: uppercase;
  font-size: 5vh;
  line-height: 1.25;
  color: white;
  font-family: 'acumin-pro-wide', sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 3px;
  white-space: pre-line;
  opacity: 0;
  animation: textAnim 20s infinite alternate;
}

@keyframes textAnim{
  from{

    left:0px;
  }
  to{
    left: -1000px;
  }
}



.intro{
  top:150px;
  left: calc(10% - 15px);
  width: 40%;
  height: 100%;
  position: absolute;
  padding-left: 20px;
  z-index: 100;

}


.intro p{
  margin-left: 20px;
  font-size: 26pt;
  line-height: 1.25;
  color: white;
  font-family: 'acumin-pro', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 3px;
  white-space: pre-line;
  text-shadow: 1px 2px 20px rgba(20, 20, 25, .02)
}

.intro p::after{
  content: " a multi displinary designer. I do industrial, graphic, UI/UX and code. A recent grad form University of Michigan, looking to take on cool projects! \A Check ittt!"
}

.arrow-white{
    transform: rotate(90deg);
    position: relative;
    margin-left: calc(10% + 15px);
    margin-top: 540px;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 80% auto;
    z-index: 5;
    opacity: 1;
}


.logo{

  margin-left: auto;
  margin-right: auto + 9%;
  margin-top: 20px;
  height: 100%;
  width: 100%;
  position: relative;
}

.logo img{
  opacity: 0;
  z-index: 101;
  position: absolute;
  width:70%;
  top:30px;
  left: 10%;
}
.logo img:nth-of-type(2){
  opacity: 0;
}


#about{
  grid-row-start: 4;
  position: relative;
  width: 100vw;
  height: auto;
}

.about-title{
  position: absolute;
  z-index: 1;
  top:-90px;
  margin-left: 88px;
  font-size: 110px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0);
  font-family: 'acumin-pro-wide', sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

#projects{
  grid-row-start: 2;
  position: relative;
  width: 100vw;
  height: auto;
  display: grid;
  margin-bottom: 150px;
}

.work-title{
  position: absolute;
  z-index: 51;
  top:20px;
  margin-left: 88px;
  font-size: 190pt;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0);
  font-family: 'acumin-pro-wide', sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: black;
}
.list{
  margin-top: 180px;
  grid-row-start: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

.project-container{
  width: 100vw;
  height: 590px;
  padding-left: 10%;
  margin-top: 25vh;
  margin-bottom: 25vh;
  position: relative;
  float:left;

  color: black;
  font-family: 'acumin-pro-wide', sans-serif;
  letter-spacing: 1.5px
}

.list .project-container .title{
  overflow: hidden;
  font-style: italic;
  position: absolute;
  z-index: 50;
  top:1%;
  left:42%;
  font-size: 60pt;
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: 800;
  width: 30%;

}

.list .project-container .order {
  position: absolute;
  z-index: 50;
  top: 675px;
  left:10%;
  font-size: 12pt;
  line-height: 1.25;
}

.list .project-container .arrow{
  position: absolute;
  top: calc(115% - 80px);
  left: calc(10% + 835px);
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  background-size: 80% auto;
  z-index: 5;
  opacity: 0;

}

.list .project-container .category {
  position: absolute;
  z-index: 50;
  top: 675px;
  left:50%;
  font-size: 12pt;
  line-height: 1.25;
  font-weight: 500;
}

.list .project-container .year {
  position: absolute;
  z-index: 55;
  top: 700px;
  left:50%;
  font-size: 12pt;
  line-height: 1.25;
  font-weight: 500;


}

.list .project-container .thumbnails{

  box-shadow: inset 0 0 16px rgba(18, 18, 18, .05);
  border-color: blue;
  position: absolute;
  z-index: 15;
  height: 90%;
  width: auto;
  top:80px;
  left: 10%;
  background-size: auto auto;
}

.list .project-container .bounding-box{
  overflow: hidden;
  position: absolute;
  background-color: white;
  height: 90%;
  width: calc(10% - 15px);
  top:80px;
  left: 0px;
  z-index: 16;
}

.list .project-container span{
  position: absolute;
  top:80px;
  left:calc(10% - 15px);
  height: 90%;
  z-index: 17;
  width: 1px;
  background-color: blue;
}

@media only screen and (max-width: 992px) {
  .list .project-container .thumbnails{
    height: 80%;
    width: auto;
  }
}

@media only screen and (min-width: 768px) {


  .list .project-container:nth-child(even)  {
    float: right;
    text-align: right;
    padding-right: 10%;
    padding-left: auto;
  }

  .list .project-container:nth-child(even) span{
    right:calc(10% - 15px);
    left:auto;
  }

  .list .project-container:nth-child(even) .arrow{
    transform: rotate(-90deg);
    left:auto;
    right: 68%;
  }


  .list .project-container:nth-child(even) .title{

    right: 50%;
    left: auto;
  }
  .list .project-container:nth-child(even) .thumbnails{
    right: 10%;
    left: auto;
  }
  .list .project-container:nth-child(even) .year{
    text-align: right;
    left: auto;
    right: 50%;
  }
  .list .project-container:nth-child(even) .order{
    text-align: right;

  }
}

.footer{
  grid-row-start: 2;
  position: relative;
  height: 20vh;
  width:100vw;
}

.footer span{
  width: 75%;
  height: 1.5px;
}

.footer .archive-btn{
  position: absolute;
  left: 10%;
  height:150px;
  width: 150px;
  background-repeat: no-repeat;
  z-index: 100;
  animation: archiveAim 30s infinite;
}

.archive-wrap{
  position: absolute;
  top:-30px;
  left: 5%;
  height:200px;
  width: 200px;
  z-index: 1;
}
 .archive-wrap .archive-btn{
  position: relative;
  margin: auto;
  height:80%;
  width: 80%;

  background-repeat: no-repeat;

}
.archive-wrap .blob{
  border-radius: 50%;
  background-color: blue;
  height:20px;
  width: 20px;
  opacity: 0;
  position:relative;
  margin-right:auto;
  margin-left: auto;

}


#play{
  grid-row-start: 3;
  position: relative;
  width: 100%;
  height: 100%;
}

.play-title{
  position: absolute;
  z-index: 50;
  top:0px;
  margin-left: 88px;
  font-size: 110px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0);
  font-family: 'acumin-pro-wide', sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}
@media only screen and (max-width: 768px) {
  .list .project-container .wrapper .thumbnails{
    position: absolute;
    height: 50vh;
    width: auto;
    top:0px;
    left: 2px;
  }
}

.archive-page{
  -webkit-position: sticky;
  position: fixed;
  overflow: scroll;
  top: 0px;
  left: 0px;
  z-index: 200;
  background-color: white;
  height: 100%;
  width: 100%;

}

.archive-page .x{
  position: absolute;
  background-color: black;
  height: 20px;
  width: 20px;
  top: 40px;
  right: 40px;
}
