* {
  box-sizing: border-box;
  cursor: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  background-image: url("images/background.png");
}

.cursor {
  width: 22px;
  height: 22px;
  position: absolute;
  z-index: 999;
  top: 0px;
  left: 0px;
  /*border: 1px solid #FFFFFF;
  background: white;

  border-radius: 50%;
  opacity: 1;*/
}

.cursor::after{
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 999;
  top: -2.85px;
  left: -3px;
  position: absolute;
  border: .9px dashed rgba(255, 240, 3, 1);
  border-radius: 50%;
  animation: cursorAnim 20s infinite;

}

@keyframes cursorAnim{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

#website {
  background: rgba(0, 0, 0, 0.18);
  height: 100vh;
  overflow: scroll;
}

#navbar {
  position: relative;
  float:left;
  background-color: none;
  height: 100vh;
  width: 90px;
  font-size: 12px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont,'Helvetica Neue', sans-serif;
  font-weight: lighter;

}

.mainNav {

  width:120px;
  height:50px;
  transform: rotate(270deg);
  position: absolute;
  z-index: 2;
  left: -5px;
  bottom: 600px;
  display: table-cell;


}
.navNav{
  width:150px;
  height:50px;
  position: absolute;
  z-index: 2;
  left: -5px;
  bottom: 110px;
  display: table-cell;
  transform: rotate(270deg);
}

.navNav a {
  padding-left: 20px;
}

@@media
