@import url("https://use.typekit.net/aow6xks.css");


* {
  box-sizing: border-box;
  cursor: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  background-image: url("images/background.png");
  cursor: none;
}

#navbar a {
  text-decoration: none;
  color: inherit;

}

.overlay{
  z-index: 999;
  height: 100%;
  width: 100%;
  color: rgb(255, 250, 2);
  opacity: 1;
  position: fixed;
  top: 0px;
  left: 0px;
}


#navbar a:visited { text-decoration: none;}
#navbar a:hover { text-decoration: none;}
#navbar a:focus { text-decoration: none;}
#navbar a:hover, a:active { text-decoration: none;}



#website {
  background: rgba(255, 255, 255, 0.99);
  height: 100vh;
  overflow: scroll;
}

/*.cursor {
  width: 18px;
  height: 18px;
  position: absolute;

  top: 0px;
  left: 0px;

  /*border: 1px solid #FFFFFF;
  background: white;
  border-radius: 50%;
  opacity: 1;
}*/

.cursor{
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 997;
  box-shadow: 2px;
  z-index: 997;
  top: -2.85px;
  left: -3px;
  border: .9px dashed;
  border-color: blue;
  border-radius: 50%;
  animation: cursorAnim 20s infinite;

}

@keyframes cursorAnim{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}



#navbar {
  position: sticky;
  -webkit-position: sticky;
  float:left;
  background-color: none;
  height: 50px;
  width: 100%;
  font-size: 12px;
  line-height: 1.25;
  color: black;
  font-family: 'acumin-pro-wide', sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2.5px;
  z-index: 100;
  align-items: center;
  display: flex;
  top:0;


}

#navbar .mainNav {

  width:200px;
  height:100%;
  position: absolute;
  margin-left: 15px;
  margin-top: 10px;
  display: table-cell;
  align-items: center;


}
#navbar .navNav{
  width:200px;
  height:100%;
  right: 0px;
  position: absolute;
  margin-top: 20px;
  margin-right: 10px;
  display: table-cell;
  align-items: center;
}

.navNav a {
  padding-left: 1px;
}
.nav-bounds{
  display: table;
  float: left;
  height: 10px;
  width: 50px;
  padding-left: 1px;
}
.nav-option{
  padding-left: 2px;
}


#page{
  height: 300vh;
  width: 100vw;
}

#home{
  height: 33%;
  width: 100%;



}
#blue-block{
  margin-left: 100px;
  margin-right: 100px;
  height: 75vh;
  width: auto;
  background-color: blue;
  z-index: 20;
  margin-top: 20vh;
  position: relative;
  z-index: 2;
  box-shadow: 1px 10px 28px rgba(200, 200, 200, .7);
}


.designer-statment{
  height: 25%;
  width: 25%;
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;


}

.designer-statment span{
  width: 10%;
  background: white;
  display: block;
  height: 1.5px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.designer-statment p{
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.25;
  color: white;
  font-family: 'acumin-pro-wide', sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 2px;
  white-space: pre-line;
}

.intro{
  top:30%;
  left: 40%;
  width: 55vw;
  height: 100%;
  position: absolute;
  padding-left: 20px;
  z-index: 100;

}

.designer-statment p::after{
  text-transform: lowercase;
  content: "industrial \A graphic \A ui/ux"
}

.intro p{
  margin-left: 20px;
  font-size: 38px;
  line-height: 1.25;
  color: black;
  font-family: 'acumin-pro-wide', sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 5px;
  white-space: pre-line;
  margin-bottom: 3px;
  text-shadow: 1px 2px 20px rgba(20, 20, 25, .02)
}

.intro p::after{
  content: " A creative in metro Detroit. A recent graduate from the Univeristy of Michigan. A motivated designer taking on new projects with exicment."
}

.intro span:nth-of-type(1) {
    width: 110%;
    background: black;
    display: block;
    height: 1.5px;
    margin-bottom: 1px
}

.e-logo{
  opacity: 0;
  margin-top: 20px;
  height: 80px;
  width: auto;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('images/Elogo.svg')
}

#about{
  position: relative;
  width: 100vw;
  height: 100%;
}

.about-title{
  position: absolute;
  z-index: 50;
  top:-90px;
  margin-left: 88px;
  font-size: 110px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0);
  font-family: 'acumin-pro-wide', sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

#projects{
  padding-top: 20px;
  position: relative;
  width: 100vw;
  height: auto;
}

.work-title{
  position: absolute;
  z-index: 50;
  top:-90px;
  margin-left: 88px;
  font-size: 110px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0);
  font-family: 'acumin-pro-wide', sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}
.list{
  width: 100%;
  height: auto;
}

.project-container{
  width: 100%;
  height: 80vh;
  padding-top: 20px;

}

.list .project-container .title{
  z-index: 50;
  padding-left: 85px;
  top:70px;
  text-align: left;
  font-size: 40px;
  line-height: 1.25;
  color: black;
  font-family: 'acumin-pro-wide', sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;

}

.list .project-container .wrapper{
  float: left;
  position: relative;
  z-index: 15;
  height: 100%;
  width: 100%;
  padding-left: 85px;
  top:0px;
}
.list .project-container:nth-child(even) .wrapper{
  float: right;
  padding-right: 85px;
  padding-left: 0px;

}

.list .project-container .wrapper .thumbnails{
  position: absolute;
  z-index: 15;
  height: 68vh;
  width: auto;
  top:0px;
  left: 2px;
}

.list .project-container .wrapper .block{
  position: absolute;
  top:20px;
  left:0px;
  height: 72vh;
  z-index: 14;
  width: 25vw;
  background-color: blue;
  /*background-repeat: no-repeat;
  background-size: contain;
  background-image: url('images/bluegrid.svg')*/
}

@media only screen and (min-width: 768px) {

.list .project-container:nth-child(even) .title{
  text-align: right;
  padding-right: 85px;
}
.list .project-container:nth-child(even) .thumbnails{
  right: 0px;
  left: auto;
}
.list .project-container:nth-child(even) .block{
  right: 0px;
  left: auto;
}
}

#play{
  position: relative;
  width: 100vw;
  height: 100%;
}

.play-title{
  position: absolute;
  z-index: 50;
  top:0px;
  margin-left: 88px;
  font-size: 110px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0);
  font-family: 'acumin-pro-wide', sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}
@media only screen and (max-width: 768px) {
  .list .project-container .wrapper .thumbnails{
    position: absolute;
    height: 50vh;
    width: auto;
    top:0px;
    left: 2px;
  }
}
